.App {
  display: flex;
  min-height: 100vh;
  background-color: rgba(6, 8, 12, 1);
  flex-direction: column;
  padding: 0 25px 0 25px;
  max-height: 100%;
}

.AppHeader {
  display: flex;
  color: white;
  justify-content: left;
}

.Header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  padding-top: 20px;
}

.HeaderButton {
  width: 204px;
  height: 56px;
  background-color: rgba(235, 2, 55, 1);
  border-width: 0;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ButtonText {
  color:rgba(255, 255, 255, 1);
  font-size: 18px;
  padding-right: 15px;
}

.ErrorText {
  padding-left: 4px;
  color: rgba(255, 255, 255, 1);
}

.ErrorContainer {
  height: 56px;
  width: 480px;
  background-color: rgba(15, 19, 24, 1);
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.RefreshContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

